/**
 * nPro
 * wx: pptpdf
 * version: 1.0.0
 */
@import './var.scss';

.n-btn {
    border: none;
    margin: 0;
    padding: 0;

    &:after {
        border: none;
    }
}

.n-statusbar {
    height: var(--status-bar-height);
    width: 100%;

    &-top {
        top: var(--status-bar-height);
    }
}

.n-xbar {
    padding-bottom: 0;
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
}

.n-sizing {
    &-border {
        box-sizing: border-box;
    }

    &-content {
        box-sizing: content-box;
    }
}

.n-display {
    &-flex {
        display: flex;
    }

    &-block {
        display: block;
    }
}

.n-flex {
    &-row {
        display: flex;
        flex-direction: row;
    }

    &-column {
        display: flex;
        flex-direction: column;
    }

    &-1 {
        flex: 1;
    }

    &-2 {
        flex: 2;
    }

    &-3 {
        flex: 3;
    }
}

.n-justify {
    &-start {
        justify-content: flex-start;
    }

    &-center {
        justify-content: center;
    }

    &-end {
        justify-content: flex-end;
    }

    &-between {
        justify-content: space-between;
    }

    &-around {
        justify-content: space-around;
    }
}

.n-align {
    &-start {
        align-items: flex-start;
    }

    &-center {
        align-items: center;
    }

    &-end {
        align-items: flex-end;
    }

    &-baseline {
        align-items: baseline;
    }

    &-stretch {
        align-items: stretch;
    }
}

.n-wrap {
    &-wrap {
        flex-wrap: wrap;
    }

    &-nowrap {
        flex-wrap: nowrap;
    }
}

.n-shrink {
    &-1 {
        flex-shrink: 1;
    }

    &-0 {
        flex-shrink: 0;
    }
}

.n-grow {
    &-1 {
        flex-grow: 1;
    }

    &-0 {
        flex-grow: 0;
    }
}

.n-position {
    &-0 {
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }

    &-relative {
        position: relative;
    }

    &-absolute {
        position: absolute;
    }

    &-fixed {
        position: fixed;
    }

    &-sticky {
        position: sticky;
    }
}

.n-text-align {
    &-left {
        text-align: left;
    }

    &-center {
        text-align: center;
    }

    &-right {
        text-align: right;
    }
}

.n-text-decoration {
    &-underline {
        text-decoration: underline;
    }

    &-through {
        text-decoration: line-through;
    }
}

.n-opacity {
    &-10 {
        opacity: 1;
    }

    &-0 {
        opacity: 0;
    }

    &-5 {
        opacity: 0.5;
    }

    &-hover {
        opacity: $n-opacity-hover;
    }

    &-disabled {
        opacity: $n-opacity-disabled;
    }
}

.n-bg {
    &-default {
        background-color: $n-color-default;
    }

    &-primary {
        background-color: $n-color-primary;
    }

    &-success {
        background-color: $n-color-success;
    }

    &-warning {
        background-color: $n-color-warning;
    }

    &-error {
        background-color: $n-color-error;
    }

    &-custom {
        background-color: $n-color-custom;
    }

    &-link {
        background-color: $n-color-link;
    }

    &-light {
        background-color: $n-bg-color-light;
    }

    &-middle {
        background-color: $n-bg-color-middle;
    }

    &-dark {
        background-color: $n-bg-color-dark;
    }

    &-inverse {
        background-color: $n-bg-color-inverse;
    }

    &-page {
        background-color: $n-bg-color-page;
    }

    &-hover {
        background-color: $n-bg-color-hover;
    }

    &-hover-dark {
        background-color: $n-bg-color-hover-dark;
    }

    &-mask {
        background-color: $n-bg-color-mask;
    }

    &-mask-dark {
        background-color: $n-bg-color-mask-dark;
    }

    &-text {
        background-color: $n-text-color;
    }

    &-text-second {
        background-color: $n-text-color-second;
    }

    &-text-third {
        background-color: $n-text-color-third;
    }

    &-text-forth {
        background-color: $n-text-color-forth;
    }

    &-text-inverse {
        background-color: $n-text-color-inverse;
    }

    &-text-place {
        background-color: $n-text-color-place;
    }

    &-text-disabled {
        background-color: $n-text-color-disabled;
    }

    &-border {
        background-color: $n-border-color;
    }

    &-border-light {
        background-color: $n-border-color-light;
    }

    &-border-middle {
        background-color: $n-border-color-middle;
    }

    &-border-dark {
        background-color: $n-border-color-dark;
    }

    &-none {
        background-color: transparent;
    }

    &-gradient {
        background-image: linear-gradient(to right, $n-color-warning, $n-color-error);
    }
}

.n-color {
    &-black {
        color: #000000;
    }

    &-white {
        color: #FFFFFF;
    }

    &-default {
        color: $n-color-default;
    }

    &-primary {
        color: $n-color-primary;
    }

    &-success {
        color: $n-color-success;
    }

    &-warning {
        color: $n-color-warning;
    }

    &-error {
        color: $n-color-error;
    }

    &-custom {
        color: $n-color-custom;
    }

    &-link {
        color: $n-color-link;
    }

    &-text {
        color: $n-text-color;
    }

    &-second {
        color: $n-text-color-second;
    }

    &-third {
        color: $n-text-color-third;
    }

    &-forth {
        color: $n-text-color-forth;
    }

    &-place {
        color: $n-text-color-place;
    }

    &-disabled {
        color: $n-text-color-disabled;
    }

    &-inverse {
        color: $n-text-color-inverse;
    }
}

.n-size {
    &-ss {
        font-size: $n-font-size-ss;
    }

    &-s {
        font-size: $n-font-size-s;
    }

    &-base {
        font-size: $n-font-size-base;
    }

    &-l {
        font-size: $n-font-size-l;
    }

    &-ll {
        font-size: $n-font-size-ll;
    }
}

.n-width {
    &-1 {
        width: 1px;
    }

    &-100p {
        width: 100%;
    }

    &-100vw {
        width: 100vw;
    }

    &-auto {
        width: auto;
    }
}

.n-height {
    &-ss {
        height: $n-height-ss;
    }

    &-s {
        height: $n-height-s;
    }

    &-base {
        height: $n-height-base;
    }

    &-l {
        height: $n-height-l;
    }

    &-ll {
        height: $n-height-ll;
    }

    &-0 {
        height: 0;
    }

    &-1 {
        height: 1px;
    }

    &-min {
        min-height: 100%;
    }

    &-min-vh {
        /* #ifndef APP-NVUE */
        min-height: 100vh;
        /* #endif */
    }

    &-100p {
        height: 100%;
    }

    &-100vh {
        height: 100vh;
    }

    &-any {
        height: 100px;
    }

    &-auto {
        height: auto;
    }
}

.n-weight {
    &-1 {
        font-weight: 100;
    }

    &-2 {
        font-weight: 200;
    }

    &-3 {
        font-weight: 300;
    }

    &-4 {
        font-weight: 400;
    }

    &-5 {
        font-weight: 500;
    }

    &-6 {
        font-weight: 600;
    }

    &-7 {
        font-weight: 700;
    }

    &-8 {
        font-weight: 800;
    }

    &-9 {
        font-weight: 900;
    }

    &-normal {
        font-weight: normal;
    }

    &-bold {
        font-weight: bold;
    }

    &-bolder {
        font-weight: bolder;
    }

    &-lighter {
        font-weight: lighter;
    }
}

.n-lh {
    &-ss {
        line-height: $n-lh-ss;
    }

    &-s {
        line-height: $n-lh-s;
    }

    &-base {
        line-height: $n-lh-base;
    }

    &-l {
        line-height: $n-lh-l;
    }

    &-ll {
        line-height: $n-lh-ll;
    }
}

.n-lines {
    &-nowrap {
        display: block;
        white-space: nowrap;
    }

    &-1 {
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        white-space: nowrap;
    }

    &-2 {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }

    &-3 {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
    }

    &-4 {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
    }

    &-5 {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;
    }

    &-clip {
        text-overflow: clip;
    }
}

.n-radius {
    &-ss {
        border-radius: $n-border-radius-ss;
    }

    &-s {
        border-radius: $n-border-radius-s;
    }

    &-base {
        border-radius: $n-border-radius-base;
    }

    &-l {
        border-radius: $n-border-radius-l;
    }

    &-ll {
        border-radius: $n-border-radius-ll;
    }

    &-loading {
        border-radius: 12px;
    }

    &-none {
        border-radius: 0;
    }
}

.n-ps {
    &-16 {
        padding-left: 16px;
        padding-right: 16px;
    }

    &-ss {
        padding-left: $n-space-ss;
        padding-right: $n-space-ss;
    }

    &-s {
        padding-left: $n-space-s;
        padding-right: $n-space-s;
    }

    &-base {
        padding-left: $n-space-base;
        padding-right: $n-space-base;
    }

    &-l {
        padding-left: $n-space-l;
        padding-right: $n-space-l;
    }

    &-ll {
        padding-left: $n-space-ll;
        padding-right: $n-space-ll;
    }

    &-left {
        &-ss {
            padding-left: $n-space-ss;
        }

        &-s {
            padding-left: $n-space-s;
        }

        &-base {
            padding-left: $n-space-base;
        }

        &-l {
            padding-left: $n-space-l;
        }

        &-ll {
            padding-left: $n-space-ll;
        }
    }

    &-top {
        &-ss {
            padding-top: $n-space-ss;
        }

        &-s {
            padding-top: $n-space-s;
        }

        &-base {
            padding-top: $n-space-base;
        }

        &-l {
            padding-top: $n-space-l;
        }

        &-ll {
            padding-top: $n-space-ll;
        }
    }

    &-right {
        &-ss {
            padding-right: $n-space-ss;
        }

        &-s {
            padding-right: $n-space-s;
        }

        &-base {
            padding-right: $n-space-base;
        }

        &-l {
            padding-right: $n-space-l;
        }

        &-ll {
            padding-right: $n-space-ll;
        }
    }

    &-bottom {
        &-ss {
            padding-bottom: $n-space-ss;
        }

        &-s {
            padding-bottom: $n-space-s;
        }

        &-base {
            padding-bottom: $n-space-base;
        }

        &-l {
            padding-bottom: $n-space-l;
        }

        &-ll {
            padding-bottom: $n-space-ll;
        }
    }
}

.n-ms {
    &-ss {
        margin-left: $n-space-ss;
        margin-right: $n-space-ss;
    }

    &-s {
        margin-left: $n-space-s;
        margin-right: $n-space-s;
    }

    &-base {
        margin-left: $n-space-base;
        margin-right: $n-space-base;
    }

    &-l {
        margin-left: $n-space-l;
        margin-right: $n-space-l;
    }

    &-ll {
        margin-left: $n-space-ll;
        margin-right: $n-space-ll;
    }

    &-left {
        &-ss {
            margin-left: $n-space-ss;
        }

        &-s {
            margin-left: $n-space-s;
        }

        &-base {
            margin-left: $n-space-base;
        }

        &-l {
            margin-left: $n-space-l;
        }

        &-ll {
            margin-left: $n-space-ll;
        }
    }

    &-top {
        &-ss {
            margin-top: $n-space-ss;
        }

        &-s {
            margin-top: $n-space-s;
        }

        &-base {
            margin-top: $n-space-base;
        }

        &-l {
            margin-top: $n-space-l;
        }

        &-ll {
            margin-top: $n-space-ll;
        }
    }

    &-right {
        &-ss {
            margin-right: $n-space-ss;
        }

        &-s {
            margin-right: $n-space-s;
        }

        &-base {
            margin-right: $n-space-base;
        }

        &-l {
            margin-right: $n-space-l;
        }

        &-ll {
            margin-right: $n-space-ll;
        }
    }

    &-bottom {
        &-ss {
            margin-bottom: $n-space-ss;
        }

        &-s {
            margin-bottom: $n-space-s;
        }

        &-base {
            margin-bottom: $n-space-base;
        }

        &-l {
            margin-bottom: $n-space-l;
        }

        &-ll {
            margin-bottom: $n-space-ll;
        }
    }

    &-auto {
        margin: 0 auto;
    }
}

.n-overflow {
    &-hidden {
        overflow: hidden;
    }

    &-scroll {
        overflow: scroll;
    }

    &-visible {
        overflow: visible;
    }
}

.n-hover {
    &-opacity {
        opacity: $n-opacity-hover;
    }

    &-bg {
        background-color: $n-bg-color-hover;

        &-dark {
            background-color: $n-bg-color-hover-dark;
        }

        &-opacity {
            background-color: $n-bg-color-hover;
            opacity: $n-opacity-hover;
        }
    }
}

.n-disabled {
    opacity: $n-opacity-disabled;

    &-text {
        color: $n-text-color-disabled;
    }
}

.n-left {
    &-0 {
        left: 0;
    }

    &-50 {
        left: 50%;
    }

    &-100 {
        left: 100%;
    }

    &-100_ {
        left: -100%;
    }
}

.n-right {
    &-0 {
        right: 0;
    }

    &-50 {
        right: 50%;
    }

    &-100 {
        right: 100%;
    }

    &-100_ {
        right: -100%;
    }
}

.n-top {
    &-0 {
        top: 0;
    }

    &-50 {
        top: 50%;
    }

    &-100 {
        top: 100%;
    }

    &-100_ {
        top: -100%;
    }
}

.n-bottom {
    &-0 {
        bottom: 0;
    }

    &-50 {
        bottom: 50%;
    }

    &-100 {
        bottom: 100%;
    }

    &-100_ {
        bottom: -100%;
    }
}

.n-translate {
    &-0 {
        transform: translate(0, 0);
    }

    &-50 {
        transform: translate(50%, 50%);
    }

    &-100 {
        transform: translate(100%, 100%);
    }

    &-50_ {
        transform: translate(-50%, -50%);
    }

    &-100_ {
        transform: translate(-100%, -100%);
    }

    &-x0 {
        transform: translateX(0);
    }

    &-x50 {
        transform: translateX(50%);
    }

    &-x100 {
        transform: translateX(100%);
    }

    &-x50_ {
        transform: translateX(-50%);
    }

    &-x100_ {
        transform: translateX(-100%);
    }

    &-y0 {
        transform: translateY(0);
    }

    &-y50 {
        transform: translateY(50%);
    }

    &-y100 {
        transform: translateY(100%);
    }

    &-y50_ {
        transform: translateY(-50%);
    }

    &-y100_ {
        transform: translateY(-100%);
    }
}

$border: (
    light: $n-border-color-light,
    middle: $n-border-color-middle,
    dark: $n-border-color-dark,
    primary: $n-color-primary,
    success: $n-color-success,
    warning: $n-color-warning,
    error: $n-color-error,
    inverse: $n-border-color-inverse,
    custom: $n-color-custom,
    link: $n-color-link,
    text: $n-text-color,
    text-second: $n-text-color-second,
    text-third: $n-text-color-third,
    text-forth: $n-text-color-forth,
    text-place: $n-text-color-place,
    text-disabled: $n-text-color-disabled
);
$direction: (
    left: 'left',
    top: 'top',
    right: 'right',
    bottom: 'bottom'
);

.n-border {
    &-all {
        /* #ifdef H5 || MP-TOUTIAO */
        border-width: $n-border-width !important;
        border-style: solid !important;
        border-color: $n-border-color !important;
        /* #endif */
        /* #ifndef H5 || MP-TOUTIAO */
        border-width: $n-border-width;
        border-style: solid;
        border-color: $n-border-color;
        /* #endif */

        @each $k,
        $v in $border {
            &-#{$k} {
                /* #ifdef H5 || MP-TOUTIAO */
                border-width: $n-border-width !important;
                border-style: solid !important;
                border-color: #{$v} !important;
                /* #endif */
                /* #ifndef H5 || MP-TOUTIAO */
                border-width: $n-border-width;
                border-style: solid;
                border-color: #{$v};
                /* #endif */
            }
        }
    }

    @each $k,
    $v in $direction {
        &-#{$k} {
            /* #ifdef H5 || MP-TOUTIAO */
            border-#{$v}-color: $n-border-color !important;
            border-#{$v}-width: $n-border-width !important;
            border-#{$v}-style: solid !important;
            /* #endif */
            /* #ifndef H5 || MP-TOUTIAO */
            border-#{$v}-color: $n-border-color;
            border-#{$v}-width: $n-border-width;
            border-#{$v}-style: solid;
            /* #endif */

            @each $kk,
            $vv in $border {
                &-#{$kk} {
                    /* #ifdef H5 || MP-TOUTIAO */
                    border-#{$v}-width: $n-border-width !important;
                    border-#{$v}-style: solid !important;
                    border-#{$v}-color: #{$vv} !important;
                    /* #endif */
                    /* #ifndef H5 || MP-TOUTIAO */
                    border-#{$v}-width: $n-border-width;
                    border-#{$v}-style: solid;
                    border-#{$v}-color: #{$vv};
                    /* #endif */
                }
            }
        }
    }

    &-none {
        /* #ifdef H5 || MP-TOUTIAO */
        border-width: 0 !important;
        /* #endif */
        /* #ifndef H5 || MP-TOUTIAO */
        border-width: 0;
        /* #endif */
    }
}

.n-wh {
    &-20 {
        width: 20rpx;
        height: 20rpx;
    }

    &-24 {
        width: 24rpx;
        height: 24rpx;
    }

    &-32 {
        width: 32rpx;
        height: 32rpx;
    }

    &-36 {
        width: 36rpx;
        height: 36rpx;
    }

    &-40 {
        width: 40rpx;
        height: 40rpx;
    }

    &-48 {
        width: 48rpx;
        height: 48rpx;
    }

    &-100p {
        width: 100%;
        height: 100%;
    }
}

.n-zindex {

    /* #ifndef APP-NVUE */
    &-1 {
        z-index: 1;
    }

    &-2 {
        z-index: 2;
    }

    &-3 {
        z-index: 3;
    }

    &-4 {
        z-index: 4;
    }

    &-5 {
        z-index: 5;
    }

    &-6 {
        z-index: 6;
    }

    &-9 {
        z-index: 9;
    }

    &-12 {
        z-index: 12;
    }

    &-19 {
        z-index: 19;
    }

    &-99 {
        z-index: 99;
    }

    &-nav {
        z-index: 300;
    }

    &-tabbar {
        z-index: 1;
    }

    &-position {
        z-index: 299;
    }

    &-overlay {
        z-index: 686;
    }

    &-drawer {
        z-index: 661;

        &-overlay {
            z-index: 660;
        }
    }

    &-pop {
        z-index: 687;

        &-always {
            z-index: 671;

            &-overlay {
                z-index: 670;
            }
        }
    }

    &-loading {
        z-index: 691;

        &-overlay {
            z-index: 690;
        }
    }

    &-toast {
        z-index: 693;

        &-overlay {
            z-index: 692;
        }
    }

    /* #endif */
}

/* 仅仅只是提供shadow说明和示范，具体shadow请自行自定义添加 */
.n-shadow {
    &-light {
        // x y blur spread color type
        box-shadow: 0 6rpx 12rpx 0rpx rgba(0, 0, 0, 0.42);
    }
}

/* 仅仅只是提供shadow说明和示范，具体shadow请自行自定义添加.字体图标也可以使用text-shadow */
.n-text-shadow {
    /* #ifndef APP-NVUE */
    color: #FFFFFF;
    text-shadow: 1px 0px 0px $n-color-primary, -1px 0px 0px $n-color-primary, 0px 1px 0 $n-color-primary, 0px -1px 0 $n-color-primary, 0 2px 0 $n-color-primary, 0 3px 0 $n-color-primary, 0 4px 0 $n-color-primary;
    /* #endif */
}

/* 仅仅只是示范以及组件内使用。更多的动画效果以及替换效果，请自行自定义 */
.n-transition {
    &-height {
        transition-property: height;
        transition-duration: 300ms;
        transition-timing-function: ease;
    }
}

/**
  * components-based styles
  */
.n-loading {
    &-img {
        width: 75rpx;
        height: 75rpx;
    }

    &-text {
        text-align: center;
        color: #FFFFFF;
        font-size: 24rpx;
        line-height: 30rpx;
        height: 30rpx;
        margin-top: 16rpx;
        width: 140rpx;
    }
}

.n-toast {
    &-box {
        border-radius: 20rpx;
        width: 250rpx;
        height: 250rpx;
    }

    &-text {
        text-align: center;
        line-height: 42rpx;
        margin-top: 20rpx;
        width: 200rpx;
    }

    &-small {
        width: 600rpx;

        &-box {
            border-radius: 20rpx;
            max-width: 600rpx;
            padding: 32rpx;
        }

        &-text {
            line-height: 42rpx;
        }
    }
}

.n-loader {
    // 这里我们去掉了默认的宽度限制
    // width: 750rpx;
    padding: 20rpx;
    height: 120rpx;

    &-img {
        width: 40rpx;
        height: 40rpx;
    }

    &-text {
        font-size: 28rpx;
        color: #666666;
        line-height: 40rpx;
        padding-left: 12rpx;
        padding-right: 12rpx;
    }
}

.n-nav {
    &-lefts {
        padding-left: 30rpx;
        width: 200rpx;
    }

    &-rights {
        padding-right: 30rpx;
        width: 200rpx;
    }
}

.n-filter-gray-day {
    /* #ifndef APP-NVUE */
    filter: grayscale(.95);
    -webkit-filter: grayscale(.95);
    /* #endif */
}